
/***********************************************************/

.startContainer
{
	margin: 0;
  position: relative;
	text-align: center;
  padding-bottom: 10px;
  z-index: 10;
}

/***********************************************************/

.button
{
  color: rgb(130, 102, 255);
  position: relative;
  font-family: 'Orbitron', Verdana, sans-serif;
  padding-bottom: 10px;
  font-size: 2.2em;
  background: none;
  z-index: 10;
}

.button:hover
{
  color: rgb(207, 170, 255);
  cursor: pointer;
  
}

.button3
{
  border-radius: 20px;
  padding: 10px 15px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  background: #000000;
  background: -moz-linear-gradient(top,  #492e7a 0%, #aaccff 70%, #a749ff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a749ff), color-stop(70%,#aaccff), color-stop(100%,#a749ff));
  background: -webkit-linear-gradient(top,  #a749ff 0%,#aaccff 70%,#a749ff 100%);
  background: -o-linear-gradient(top,  #a749ff 0%,#aaccff 70%,#a749ff 100%);
  background: -ms-linear-gradient(top,  #a749ff 0%,#aaccff 70%,#a749ff 100%);
  background: linear-gradient(to bottom,  #a749ff 0%,#aaccff 70%,#a749ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a749ff', endColorstr='#a749ff',GradientType=0 );
}
.button3:hover
{
  color: #000;
  background: #3349ff;
  background: -moz-linear-gradient(top,  #3349ff 0%, #aaccff 70%, #3349ff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3349ff), color-stop(70%,#aaccff), color-stop(100%,#3349ff));
  background: -webkit-linear-gradient(top,  #3349ff 0%,#aaccff 70%,#3349ff 100%);
  background: -o-linear-gradient(top,  #3349ff 0%,#aaccff 70%,#3349ff 100%);
  background: -ms-linear-gradient(top,  #3349ff 0%,#aaccff 70%,#3349ff 100%);
  background: linear-gradient(to bottom,  #3349ff 0%,#aaccff 70%,#3349ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3349ff', endColorstr='#3349ff',GradientType=0 );
}

/***********************************************************/
@-webkit-keyframes pulseBox {
  0% {-webkit-box-shadow: 0px 0px 10px 0px rgba(55, 0, 255, 0.6);}
  100% {-webkit-box-shadow: 0px 0px 18px 0px rgba(55, 0, 255, 0.9);}
}
@-moz-keyframes pulseBox {
  0% {-moz-box-shadow: 0px 0px 10px 0px rgba(55, 0, 255, 0.6);}
  100% {-moz-box-shadow: 0px 0px 18px 0px rgba(55, 0, 255, 0.9);}
}
@-o-keyframes pulseBox {
  0% {-o-box-shadow: 0px 0px 10px 0px rgba(55, 0, 255, 0.6);}
  100% {-o-box-shadow: 0px 0px 18px 0px rgba(55, 0, 255, 0.9);}
}
@keyframes pulseBox {
  0% {box-shadow: 0px 0px 10px 0px rgba(55, 0, 255, 0.6);}
  100% {box-shadow: 0px 0px 18px 0px rgba(55, 0, 255, 0.9);}
}

.pulseBox {
  -webkit-animation-name: pulseBox;
  -moz-animation-name: pulseBox;
  -o-animation-name: pulseBox;
  animation-name: pulseBox;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  border: 0px;
}

/********************/

@-webkit-keyframes pulseText {
  0% {text-shadow: 0px 0px 8px rgba(55, 0, 255, 0.7);}
  100% {text-shadow: 0px 0px 22px rgba(55, 0, 255, 1);}
}
@-moz-keyframes pulseText {
  0% {text-shadow: 0px 0px 8px rgba(55, 0, 255, 0.7);}
  100% {text-shadow: 0px 0px 22px rgba(55, 0, 255, 1);}
}
@-o-keyframes pulseText {
  0% {text-shadow: 0px 0px 8px rgba(55, 0, 255, 0.7);}
  100% {text-shadow: 0px 0px 22px rgba(55, 0, 255, 1);}
}
@keyframes pulseText {
  0% {text-shadow: 0px 0px 8px rgba(55, 0, 255, 0.7);}
  100% {text-shadow: 0px 0px 22px rgba(55, 0, 255, 1);}
}

.pulseText {
  -webkit-animation-name: pulseText;
  -moz-animation-name: pulseText;
  -o-animation-name: pulseText;
  animation-name: pulseText;
  -webkit-animation-duration: 0.8s;
  -moz-animation-duration: 0.8s;
  -o-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  border: 0px;
}
