.player{
  position: relative;
  width: auto;
  height: auto;
  padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
}

.colorpart{
  background: linear-gradient(
    to top,
    #FF4C00 0%,
    #FF4C00 50%,
    #041E42 50%,
    #041E42 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobilebg {
  /* The image used */
  /* background-image: url("/assets/img/bg.webp"); */

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.videoStyle {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }
  @media only screen and (max-width: 600px){
    .videoStyle{
      width: 100%;
      height:100%;
    }
  }

  #content-desktop {display: block;}
#content-mobile {display: none;}
#content-mobile2 {display: none;}
#content-desktop2 {display: block;}

@media screen and (max-width: 768px) {

#content-desktop {display: none;}
#content-mobile {display: block;}
#content-mobile2 {display: block;}
#content-desktop2 {display: none;}

}


 